/**
 * css/blog.css - salnet.ca
 *
 * Created by: Karim Alibhai
 * Copyright (C) 2015 Salnet.
 **/

* {
  -webkit-transition: .3s all ease;
     -moz-transition: .3s all ease;
      -ms-transition: .3s all ease;
       -o-transition: .3s all ease;
          transition: .3s all ease;
}

html {
  background: url(../img/dark_dotted.png) repeat #222;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.splash {
  background-image: url(../img/bg-opt.jpg);
  background-size: cover;
  background-position: center center;

  height: 50%;
  width: 100%;

  display: table;
  position: absolute;

  top: 0;
  left: 0;
}

.splash .img {
  display: table-cell;
  vertical-align: middle;
}

.splash .img span {
  background: url(https://s.gravatar.com/avatar/dcb559a4c89cbaa1f1d1022835bc641d?s=100) no-repeat;

  display: block;
  margin: 0 auto;

  width: 100px;
  height: 100px;

  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;

  
}
