html,
body {
  height: 100%;
  width: 100%;

  font-family: 'Source Sans Pro', sans-serif;
}

.editor {
  height: 100%;
  width: 650px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 120px;
  padding-left: 50px;
}

.editor > input,
.editor > textarea {
  border: none;
  display: block;
  width: 100%;
  color: #000;
}

.editor > input:focus,
.editor > textarea:focus {
  outline: none;
}

.editor > .title {
  font-size: 3em;
  font-weight: 900;
}

.editor > .subtitle {
  font-size: 1.8em;
  font-weight: 600;
}

.editor > textarea {
  margin-top: 15px;
  font-size: 1.2em;
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
  resize: none;
}

.editor > #markdown {
  position: absolute;
  display: block;
  width: 39px;
  height: 24px;
  text-indent: -9999px;
  background: url(https://dtu1xr3i3b2a1.cloudfront.net/cargo/icons/markdown/66x40-solid-31188e35be90a6f3e56a172255200df1.png) center center no-repeat;
  background-size: 39px 24px;
  opacity: 0.2;
}

.controls {
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  background: #fff;

  -webkit-box-shadow: 0 -10px 10px #fff;
  -moz-box-shadow: 0 -10px 10px #fff;
  box-shadow: 0 -10px 10px #fff;
}

.spinner {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 25px;
  opacity: 0;
}

.spinner.in { opacity: 1; }

.spinner,
.spinner.in {
  -webkit-transition: .3s all ease;
     -moz-transition: .3s all ease;
      -ms-transition: .3s all ease;
       -o-transition: .3s all ease;
          transition: .3s all ease;
}
