/**
 * css/index.css - salnet.ca
 *
 * Created by: Karim Alibhai
 * Copyright (C) 2015 Salnet.
 **/

* {
  -webkit-transition: .3s all ease;
     -moz-transition: .3s all ease;
      -ms-transition: .3s all ease;
       -o-transition: .3s all ease;
          transition: .3s all ease;
}

html {
  background: url(../img/dark_dotted.png) repeat #222;
}

html,
body,
.avgrund-global {
  height: 100%;
  width: 100%;
}

.avgrund-global {
  background-image: url(../img/bg-opt.jpg);
  background-size: cover;
  background-position: center center;

  color: #fff;
  font-family: 'Lato', sans-serif;
}

.avgrund-popin {
  display: table;
}

.avgrund-popin > .contact-popup {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.contact-popup .contact-photo {
  margin-top: -10px;

  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
}

.contact-popup .contact-name {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 10px;
}

.contact-popup .btn-group {
  margin-top: 10px;
}

.navbar-default {
  background: none;
  border: none;

  padding: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar {
  background-color: #333;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .nav > li > a
{ opacity: 0.7; }

.navbar-default .navbar-brand:hover,
.navbar-default .nav > li > a:hover
{ opacity: 1; }

.brand,
.navbar-brand {
  text-transform: uppercase;
}

.brand {
  font-size: 4em;
}

.lead {
  font-style: italicize;
}

.btn-outline {
  color: #fff;
  background: none;
  border-color: #fff;
}

.btn-outline:hover,
.btn-outline:focus {
  color: #333;
  border-color: #333;
  background-color: #fff;
}

.content {
  height: 100%;
  width: 100%;

  position: absolute;
  display: table;

  top: 0;
  left: 0;
}

.content > .row-fluid {
  width: 100%;

  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
