<div class="contact-popup text-center">
  <div><img src="https://s.gravatar.com/avatar/dcb559a4c89cbaa1f1d1022835bc641d?s=80" class="contact-photo"><span class="contact-name">Salman Alibhai (@salnetca)</span></div>
  <div class="btn-group">
    <a href="#" class="btn btn-md btn-success">Email</a>
    <a href="#" class="btn btn-md btn-info">Twitter</a>
    <a href="#" class="btn btn-md btn-primary">Facebook</a>
  </div>
</div>
