<!doctype html>
<html lang="en-US" ng-app="wallflower">
  <head>
    <meta charset="utf-8">
    <title>Wallflower | Svbtle Inspired Editor</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/editor.css">
  </head>
  <body ng-controller="editor">
    <div class="editor">
      <input class="title" type="text" placeholder="A Catchy Title" ng-model="title">
      <input class="subtitle" type="text" placeholder="Filename" ng-model="subtitle">
      <a href="#markdown" data-toggle="modal" id="markdown" class="markdown_indicator"></a>
      <textarea class="body" ng-model="body" ng-focus="hideSub()" ng-blur="showSub()" placeholder="Some genius text regarding your next blog post..."></textarea>
    </div>

    <div class="controls">
      <div class="pull-right">
        <a href="#" class="btn btn-default" ng-click="focus(publish())">publish</a>
        <a href="#" class="btn btn-default" ng-click="focus(save())">save</a>
      </div>
    </div>

    <img src="img/spinner.gif" class="spinner">

    <div class="modal fade" id="markdown" aria-hidden="true" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-target="#markdown"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/editor.js"></script>
  </body>
</html>
